
__pycache__/
*.pyc
*.pyo
*.pyd
*.DS_Store
*.swp
*.env
.venv/
venv/

.env
.env.local
secrets.toml
streamlit/.streamlit/secrets.toml
streamlit/.streamlit/

logs/
dags/__pycache__/
plugins/__pycache__/
airflow/__pycache__/
*/airflow.db
*/unittests.cfg

streamlit/__pycache__/
streamlit/.venv/
streamlit/.streamlit/

dbt/.venv/
dbt/logs/
dbt/flight_project/logs/
dbt/flight_project/target/
dbt/flight_project/dbt_packages/
dbt/flight_project/dbt_internal_packages/
dbt/flight_project/.dbt/

*.log
*.pid
*.tar
*.zip

node_modules/

Thumbs.db
.idea/
.vscode/
*.iml
